{% extends 'admin1/main.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/card.css' %}">

<style>
    body {
        overflow-x: hidden;
      }
      .o-hidden {
        overflow: hidden !important;
      }
    .card-body-icon {
        position: absolute;
        z-index: 0;
        top: -25px;
        right: -25px;
        font-size: 5rem;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
      }
      .col-xl-5 col-sm-6 mb-5 m-3{
        margin-left:auto;
        margin-left:auto;
      }
    </style>



<div class="row">
    <div class="col-xl-5 col-sm-6 mb-5 m-3" >
      <div class="card text-white bg-dark o-hidden h-100">
        <div class="card-body" >
          <div class="card-body-icon">
            <i class="	fa fa-trophy fa-2x"></i>
          </div>
          <div class="mr-5"></div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'newposition' %}">
          <span class="float-left" style="font-size:25px;">Create Position</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>

    <div class="col-xl-5 col-sm-6 mb-5 m-3" >
        <div class="card text-dark bg-gray-10 o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-file fa-2x"></i>
            </div>
            <div class="mr-5"></div>
          </div>
          <a class="card-footer text-dark bg-white clearfix small z-1" href="{% url 'profileposition' %}">
            <span class="float-left" style="font-size:25px;">View Position</span>
            <span class="float-right ">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>

        
{% endblock content%}