{% extends 'admin1/main.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/card.css' %}">

<style>
    body {
        overflow-x: hidden;
      }
      .o-hidden {
        overflow: hidden !important;
      }
    .card-body-icon {
        position: absolute;
        z-index: 0;
        top: -25px;
        right: -25px;
        font-size: 5rem;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
      }
      .col-xl-3 col-sm-6 mb-3{
        margin-left:auto;
        margin-left:auto;
      }
      @media only screen and (max-width: 600px){
        .card-body-icon {
          font-size: 4rem;
          right: -70px;
          top: 10px;
      }
    }
    </style>



<div class="row">
    <div class="col-xl-6 m-2 col-sm-6 mb-3" >
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body" >
          <div class="card-body-icon">
            <i class="fa fa-user-plus fa-2x"></i>
          </div>
          <div class="mr-5"></div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'registeradmin' %}">
          <span class="float-left" style="font-size:25px;">Register Administrator</span>
          <span class="float-right">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>

    <div class="col-xl-6 m-2 col-sm-6 mb-3" >
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-user-graduate fa-2x"></i>
            </div>
            <div class="mr-5"></div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="{% url 'registerstudent' %}">
            <span class="float-left" style="font-size:25px;">Register Student</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>

        
{% endblock content%}