{% extends 'admin1/main.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
<style>
    body {
        overflow-x: hidden;
      }
      .o-hidden {
        overflow: hidden !important;
      }
    .card-body-icon {
        position: absolute;
        z-index: 0;
        top: -25px;
        right: -25px;
        font-size: 5rem;
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
      }
      .col-xl-3 col-sm-6 mb-3{
        margin-left:auto;
        margin-left:auto;
      }
      /* Set a style for the submit button */
.btn {
    background-color:green;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
    color: white;
}
    </style>

<br><br>
<center>
  {% if vot %}
<div class="col-xl-6 col-sm-6 mb-3" >
    <div class="card text-white bg-success o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
        </div>
        <div class="mr-5"><h2> Student that voted for {{can.student}}</h2></div>
        <div class="mr-5">
            {% for i in vot %}
            <li><b>{{i.voter}}</b></li>
            {% endfor %}
        </div>
        
      </div>
    </div>
</div><br>
{% else %}
<center><h1>NO STUDENT HAS VOTED FOR <span style="text-transform:capital;">{{can.student}}</span></h1><br><br>
{% endif %}
</div>
</center>

{% endblock content%}